
body {
    background-color: rgb(14, 137, 244);
}

#ejemplo1 {
    display: inline;    /*De esta manera hacemos el cambio antes mencionado, Se puede hacer al REVEZ tambien */
}

#ejemplo2 {
    display: inline;    /* OJO para q funcione con mas de un elemento con la MISMA PROPIEDAD es necesario cambiar la propiedad en ambos con ID ó CLASS */
}

#elem_Invisible {
    display: none;        /* con NONE hacemos al elemento invisible */
} 

/*                                             Display == Vvizualizacion == Mostrar */


/*   Recien me encuentro que existe la propiedad  "INLINE-BLOCK"  --->> Basicamente hace que se traten a los bloques (No el contenido) como Inline, permitiendo a su vez jugar con el alto y ancho de estos */