body {
    background-color: #05555a;       /* #05555a   #d5ff06 colores q me gusta */
}

#Parrafo1{                                /* para IDENTIDADES "ID" del html*/
    color: #d5ff06;
}

.Spansss{                                  /* para CLASES "CLASS" del html*/
    color: #f40066;

}